<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Event</title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.10.0/toastify.min.css">
    <link rel="stylesheet" href="/css/adminDashboard.css">
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
    <script>
        UPLOADCARE_PUBLIC_KEY = '<%=upload_care_public_key%>';
    </script>
    <style>
         #edit {
            cursor: pointer;
            font-size: 30px;
            border: 3px solid white;
            padding: 15px;
            border-radius: 50%;
            background-color: #0D6EFD;
            color: white;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 60px;
            right: 80px;
            transition: background-color 0.5s ease;
        }

        #edit:hover {
            background-color: #F82249;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.10.0/toastify.min.js"></script>
</head>
<body>
    <% if(locals.departmentData){ %>
        <script>
            Toastify({
                        text: "Department '<%= departmentData %>' added successfully!",
                        duration: 5000,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)"
                    }).showToast();
        </script>
    <% } %>
    <div class="container">
        <div onclick="toggleMenu()" id="menuBtn" style="cursor: pointer; position: absolute; left: 25px; top: 25px;">
            <i class="fa fa-bars" style="font-size: 30px;"></i>
        </div>
        <div class="panel" style="display: none; opacity: 0; transition: opacity 1s;" id="panel">
            <div style="display: flex; flex-direction: column; height: 100%;">
            <div style="flex: 1;">
            <div style="display: flex; align-items: center; margin-top: 20px;">
                <i class="fa fa-user" style="font-size: 20px;"></i>
                <h4 style="margin-left: 5px;">Admin Panel</h4>
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/')">
                Dashboard
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/manage_faculty')">
                Add/Edit/Delete Faculty
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/manage_department')" style="background-color: white; color: black;">
                Add/Edit/Delete Department
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/manage_event')">
                Add/Edit/Delete Event
            </div>

            <div class="sliderNav" onclick="openSlider(this, '/eventstatistics')">
                Event Statistics
            </div>
        </div>

        <div class="logout" style="margin-bottom: 30px;" onclick="logoutAdmin()">
            Logout
        </div>
        </div>
        </div>

        <div class="content" style="display: flex; margin: auto; align-items: center; flex-direction: column;">
            <h1>Add Department</h1>
            <div style="width: 600px; height: 350px; background-color: #F8F8FF; border: 1px solid black; border-radius: 5px; filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));">
                <form action="/admin/manage_department/" method="post" style="width: 100%; height: 100%;" enctype="multipart/form-data">
                    <div style="width: 100%; height: 100%; padding-left: 25px; padding-top: 45px;">
                        <p style="font-size: 20px;">Department Name</p>
                        <input type="text" name="departmentName" placeholder="Enter Department Name" style="border: 1px solid black; border-radius: 2px; height: 45px; width: 550px; font-size: 16px; padding-left: 8px;" required>
                        <p style="font-size: 20px;margin-top: 25px;">Upload Icon</p>
                        <!-- <input type="file" accept="image/jpeg, image/jpg, image/png" name="departmentIcon" style="border: 1px solid black; border-radius: 2px; font-size: 16px; padding: 10px; background-color: white; width: 550px;" required> -->
                        <input type="hidden" role="uploadcare-uploader" name="departmentIcon"/>
                        <div style="display: flex; justify-content: center; margin-top: 40px;">
                            <input type="submit" value="Add" style="border: 1px solid #0D6EFD; border-radius: 5px;background-color: #0D6EFD; color: white; padding: 10px; font-size: 20px; width: 125px; cursor: pointer;">
                        </div>
                    </div>
                </form>
            </div>
            <i class="fa fa-pencil" id="edit" onclick="manageDepartment()"></i>
        </div>
    </div>

    <script>
        function openSlider(element ,path){
            
            var anotherSliderNav = document.getElementsByClassName("sliderNav");
            for(var i=0; i<anotherSliderNav.length; i++){
                anotherSliderNav[i].style.backgroundColor = "#202123";
                anotherSliderNav[i].style.color ="white";
            }

            element.style.backgroundColor ="white";
            element.style.color ="black";

            var form = document.createElement('form');
            form.method = "post";
            form.action = "/admin"+path;
            var hiddenInput = document.createElement('input');
            hiddenInput.type = "hidden";
            hiddenInput.name = 'key';
            hiddenInput.value = 'value';
            form.appendChild(hiddenInput);
            document.body.appendChild(form);
            form.submit();
        }

        function toggleMenu(){
            var panel = document.getElementById("panel");
            if (panel.style.opacity === "1") {
                panel.style.opacity = "0";
                setTimeout(function() {
                    panel.style.display = "none";
                }, 1000); // Match the transition duration
            } else {
                panel.style.display = "block";
                setTimeout(function() {
                    panel.style.opacity = "1";
                }, 100); // Start transition with a slight delay
            }
        }

        function logoutAdmin(){
            var form = document.createElement('form');
            form.method = "post";
            form.action = "/admin/logout";
            document.body.appendChild(form);
            form.submit();
        }

        function manageDepartment(){
            var form = document.createElement('form');
            form.method = "post";
            form.action = "/admin/manage_department/edit";
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>
</html>